[common]
translations=est,rus
default translation=rus

[observer]
latitude = 58.26574454393915
longitude = 26.46008849143982
elevation = 65.42
temperature = 24.0

[db configuration]
user = astro
password = 5gh6w35
host = localhost
port = 3306
database = astro

[communication]
slave id = 1
host = 192.168.88.46
port = 502

